* {
    margin: 0;
    padding: 0;
}

.container {
    margin:100px 150px;
    /* padding: 5px; */
}

.header {
    padding: 20px;
    color: ghostwhite;
    background-color: #4DB1FF;
}

.section1 {
    display: flex;
    flex: row noWrap;
    justify-content: space-around;
    padding: 20px;
    color: #4DB1FF;
    background-color: #26587F;
}

.main {
    height: 200px;
    background-color: ghostwhite;
}

.grid {
    display: grid;
    grid-template-areas: 'billInput billInput billDisplay billDisplay'
    'tipSelection1 tipSelection2 tipSelection3 tipSelection4'
    'submit submit submit submit';
    grid-gap: 10px;
}

.billTotal {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

#input {
    text-align: center;
    margin: 10px 60px 10px 57px;
}

#submit {
    margin: 10px 60px 10px 60px;
    padding: 5px;
    font-size: 15px;
    grid-area: submit;
    position: relative;
    box-sizing: border-box;
    box-shadow: #000000;
    background-color: #4DB1FF;
}

#outputText {
    text-align: right;
    line-height: 1.1em;
    letter-spacing: 2.4px;
}